// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



a.link-change {
  float: right;
  font-size: 19px;
  /*font-weight: normal !important;*/
  line-height: 1.31579;
  margin: 0px;
  &:hover {
    color: #2b8cc4;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.moj-message-list {
  max-height: 400px;
}

.moj-claim-id {
  @include govuk-font($size: 19);
  color: govuk-colour("grey-1");
}