<h2 class="govuk-heading-l">
  Case details
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;case details</span>
  </a>
</h2>

{%- if data.provider_type == "advocate" %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Instructed advocate"
      },
      value: {
        text: "Guthrie Featherstone (0020X)"
      }
    },
    {
      key: {
        text: "Reference number"
      },
      value: {
        text: "GF/LT/75674990"
      }
    },
    {
      key: {
        text: "Case type"
      },
      value: {
        html: "Retrial"
      }
    },
    {
      key: {
        text: "Court"
      },
      value: {
        text: "Wolverhampton Crown court"
      }
    },
    {
      key: {
        text: "Case number"
      },
      value: {
        text: 'T20190103'
      }
    }
  ]
}) }}

{% endif -%}

{%- if data.provider_type == "litigator" %}

{% endif -%}