<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Certification
</h2>

{%- if data.provider_type == "advocate" %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Certified by"
      },
      value: {
        text: "Rufus Titterington"
      }
    },
    {
      key: {
        text: "Date certified"
      },
      value: {
        text: "30 March 2019 at 12:15pm"
      }
    },
    {
      key: {
        text: "Reason"
      },
      value: {
        text: "I attended the main hearing (1st day of trial)"
      }
    }
  ]
}) }}

{% endif -%}

{%- if data.provider_type == "litigator" %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Certified by"
      },
      value: {
        text: "Rufus Titterington"
      }
    },
    {
      key: {
        text: "Date certified"
      },
      value: {
        text: "30 March 2019 at 12:15pm"
      }
    }
  ]
}) }}

{% endif -%}