<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Case number
      </span>
      T20190301
      <p class="moj-claim-id">#123456</p>
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Status
      </span>
      {{ data.status | title }}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Assessed date
      </span>
      {%- if data.status == "submitted" %}Not yet assessed{% else %}1 July 2019{% endif -%}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Defendant
      </span>
      Louisa Toupe
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      {%- if data.provider_type == "advocate" %}
      <span class="govuk-caption-l">
        Instructed advocate
      </span>
      Guthrie Featherstone
      {% endif -%}
      {%- if data.provider_type == "litigator" %}
      <span class="govuk-caption-l">
        Firm
      </span>
      Petty &amp; France LLP
      {% endif -%}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>