<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Case number
      </span>
      T20190301
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Status
      </span>
      Allocated
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Assessed date
      </span>
      Not yet assessed
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Defendant
      </span>
      Philippine Struttman
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        Firm
      </span>
      Petty &amp; France LLP
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>