<h2 class="govuk-heading-m govuk-!-margin-top-8">
  Cracked before retrial details
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;cracked before retrial details</span>
  </a>
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Notice of first fixed/warned issued"
      },
      value: {
        text: "1 March 2019"
      }
    },
    {
      key: {
        text: "First fixed/warned trial"
      },
      value: {
        text: "13 March 2018"
      }
    },
    {
      key: {
        text: "Date case cracked on"
      },
      value: {
        html: "14 March 2018"
      }
    },
    {
      key: {
        text: "Case cracked in"
      },
      value: {
        html: "First third"
      }
    }
  ]
}) }}