<h2 class="govuk-heading-l">
  Defendant details
</h2>

<h3 class="govuk-heading-m">
  Defendant 1
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Louisa"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "first name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Toupe"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "last name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "16/09/1975"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "case type"
          }
        ]
      }
    },
    {
      key: {
        text: "Order for judicial apportionment"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "order for judicial apportionment"
          }
        ]
      }
    }
  ]
}) }}

<h4 class="govuk-heading-s">
  Representation order 1
</h4>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Representation order date"
      },
      value: {
        text: "08/12/2018"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "representation order date"
          }
        ]
      }
    },
    {
      key: {
        text: "MAAT reference number"
      },
      value: {
        text: "75674990"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "MAAT reference number"
          }
        ]
      }
    }
  ]
}) }}

<h4 class="govuk-heading-s">
  Representation order 2
</h4>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Representation order date"
      },
      value: {
        text: "10/04/2019"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "representation order date"
          }
        ]
      }
    },
    {
      key: {
        text: "MAAT reference number"
      },
      value: {
        text: "75674991"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "MAAT reference number"
          }
        ]
      }
    }
  ]
}) }}