<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Defendant details
  {%- if data.status == "draft" %}
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;defendant details</span>
  </a>
  {% endif -%}
</h2>

<!-- <h3 class="govuk-heading-m">
  Defendant 1
</h3> -->

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Louisa"
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Toupe"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "16 September 1975"
      }
    },
    {
      key: {
        text: "Order for judicial apportionment"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "Representation order date"
      },
      value: {
        text: "8 December 2018"
      }
    },
    {
      key: {
        text: "MAAT reference number"
      },
      value: {
        text: "75674990"
      }
    }
  ]
}) }}