<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Graduated fees
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;graduated fees</span>
  </a>
</h2>

{%- if data.provider_type == "advocate" %}

{% set dailyAttendanceFeeDatesHtml %}
<ul class="govuk-list">
  <li>1 March 2019</li>
  <li>3 March 2019</li>
  <li>5 March 2019</li>
</ul>
{% endset %}

{% set standardAppearanceFeeDatesHtml %}
<ul class="govuk-list">
  <li>2 March 2019</li>
  <li>4 March 2019</li>
  <li>6 March 2019</li>
</ul>
{% endset %}

<h3 class="govuk-heading-m govuk-!-margin-top-8">
  Basic fees
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Advocate category"
      },
      value: {
        text: "Junior"
      }
    },
    {
      key: {
        text: "First day of trial"
      },
      value: {
        text: "1 March 2019"
      }
    },
    {
      key: {
        text: "Net amount"
      },
      value: {
        text: "£725.00"
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m govuk-!-margin-top-8">
  Additional fees
</h3>

{{ govukTable({
  head: [
    {
      text: "Type of fee",
      attributes: {
        style: "width:20%;"
      }
    },
    {
      text: "Details"
    },
    {
      text: "Quantity",
      format: "numeric"
    },
    {
      text: "Rate",
      format: "numeric"
    },
    {
      text: "Net amount",
      format: "numeric"
    },
    {
      text: "VAT amount",
      format: "numeric"
    },
    {
      text: "Total amount",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Daily attendance fees"
      },
      {
        html: dailyAttendanceFeeDatesHtml
      },
      {
        text: "3 days",
        format: "numeric"
      },
      {
        text: "£400.00",
        format: "numeric"
      },
      {
        text: "£1,200.00",
        format: "numeric"
      },
      {
        text: "£240.00",
        format: "numeric"
      },
      {
        text: "£1,440.00",
        format: "numeric"
      }
    ],
    [
      {
        text: "Standard appearance fees"
      },
      {
        html: standardAppearanceFeeDatesHtml
      },
      {
        text: "3 days",
        format: "numeric"
      },
      {
        text: "£91.00",
        format: "numeric"
      },
      {
        text: "£273.00",
        format: "numeric"
      },
      {
        text: "£54.60",
        format: "numeric"
      },
      {
        text: "£327.60",
        format: "numeric"
      }
    ],
    [
      {
        text: "Total",
        classes: "govuk-!-font-weight-bold"
      },
      {
        text: " "
      },
      {
        text: " ",
        format: "numeric"
      },
      {
        text: " ",
        format: "numeric"
      },
      {
        text: "£1,473.00",
        format: "numeric",
        classes: "govuk-!-font-weight-bold"
      },
      {
        text: "£294.60",
        format: "numeric",
        classes: "govuk-!-font-weight-bold"
      },
      {
        text: "£1,767.60",
        format: "numeric",
        classes: "govuk-!-font-weight-bold"
      }
    ]
  ]
}) }}

{% endif -%}

{%- if data.provider_type == "litigator" %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First day of hearing"
      },
      value: {
        text: "1 March 2019"
      }
    },
    {
      key: {
        text: "Actual trial length"
      },
      value: {
        text: "5 days"
      }
    },
    {
      key: {
        text: "Total pages of evidence"
      },
      value: {
        text: "1,000 pages"
      }
    },
    {
      key: {
        text: "Net amount"
      },
      value: {
        text: "£0.00"
      }
    }
  ]
}) }}

{% endif -%}