<form action="#" method="post" enctype="multipart/form-data">

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Send a message",
    classes: "govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-4"
  },
  hint: {
    text: "Enter a message below and optionally attach a file (maximum of 1 file per message)"
  }
}) }}

{{ govukFileUpload({
  label: {
    text: "Upload a file (optional)",
    classes: "govuk-!-font-weight-bold"
  },
  hint: {
    text: "Attach a file to support your message"
  }
}) }}

{{ govukButton({
  text: "Send message"
}) }}

</form>