<form action="#" method="post" enctype="multipart/form-data">

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Send a message",
    classes: "govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-4"
  },
  hint: {
    text: "Lorem ipsum sit dolor emit"
  }
}) }}

{{ govukFileUpload({
  label: {
    text: "Upload a file",
    classes: "govuk-!-font-weight-bold"
  },
  hint: {
    text: "Lorem ipsum sit dolor emit"
  }
}) }}

{{ govukButton({
  text: "Send message"
}) }}

</form>