<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Offence details
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;offence details</span>
  </a>
</h2>

{%- if data.fee_scheme_version == "9" %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Offence class"
      },
      value: {
        text: "A: Homicide and related grave offences"
      }
    },
    {
      key: {
        text: "Offence category"
      },
      value: {
        text: "Murder"
      }
    }
  ]
}) }}

{% else %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Offence class"
      },
      value: {
        text: "Murder and Manslaughter"
      }
    },
    {
      key: {
        text: "Offence band"
      },
      value: {
        text: "Band 1.1"
      }
    },
    {
      key: {
        text: "Offence category"
      },
      value: {
        text: "Murder"
      }
    }
  ]
}) }}

{% endif -%}