<h2 class="govuk-heading-m">
  Retrial details
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;retrial details</span>
  </a>
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First day of retrial"
      },
      value: {
        text: "1 April 2019"
      }
    },
    {
      key: {
        text: "Retrial concluded on"
      },
      value: {
        text: "12 April 2018"
      }
    },
    {
      key: {
        text: "Estimated retrial length"
      },
      value: {
        html: "10"
      }
    },
    {
      key: {
        text: "Actual retrial length"
      },
      value: {
        html: "10"
      }
    },
    {
      key: {
        text: "Apply reduced rate to retrial?"
      },
      value: {
        html: "No"
      }
    }
  ]
}) }}