<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Transfer details
  {%- if data.status == "draft" %}
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;transfer details</span>
  </a>
  {% endif -%}
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Litigator type"
      },
      value: {
        text: "Original litigator"
      }
    },
    {
      key: {
        text: "When did you stop acting?"
      },
      value: {
        text: "Up to an including PTPH transfer"
      }
    },
    {
      key: {
        text: "Date when you stopped acting"
      },
      value: {
        html: "1 January 2019"
      }
    },
    {
      key: {
        text: "Was the case elected?"
      },
      value: {
        html: "No"
      }
    }
  ]
}) }}