<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Transfer fees
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;transfer fees</span>
  </a>
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Total days claimed"
      },
      value: {
        text: "15"
      }
    },
    {
      key: {
        text: "Total pages of evidence"
      },
      value: {
        text: "1,000 pages"
      }
    },
    {
      key: {
        text: "Net amount"
      },
      value: {
        text: "£964.77"
      }
    }
  ]
}) }}