<h3 class="govuk-heading-m">
  Additional information
</h3>

<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec quam lectus. Nunc quis libero maximus, pharetra nunc id, ultrices mauris. Donec faucibus nunc in metus pretium, posuere fermentum ipsum interdum. Praesent condimentum, mauris eget commodo pulvinar, turpis leo sollicitudin massa, sed iaculis massa purus non lectus. Proin molestie mattis nibh nec laoreet. Nam pulvinar orci eu nibh egestas dictum. Nullam quis dapibus nulla.</p>