<h2 class="govuk-heading-m govuk-!-margin-top-8">
  Trial details
  {%- if data.status == "draft" %}
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;trial details</span>
  </a>
  {% endif -%}
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First day of trial"
      },
      value: {
        text: "1 March 2019"
      }
    },
    {
      key: {
        text: "Trial concluded on"
      },
      value: {
        text: "14 March 2019"
      }
    },
    {
      key: {
        text: "Estimated trial length"
      },
      value: {
        html: "10"
      }
    },
    {
      key: {
        text: "Actual trial length"
      },
      value: {
        html: "10"
      }
    }
  ]
}) }}