<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Warrant fees
  {%- if data.status == "draft" %}
  <a href="#" class="link-change">
    Change
    <span class="govuk-visually-hidden">&nbsp;warrant fees</span>
  </a>
  {% endif -%}
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Advocate category"
      },
      value: {
        text: "Junior"
      }
    },
    {
      key: {
        text: "Date warrant was issued"
      },
      value: {
        text: "1 March 2019"
      }
    },
    {
      key: {
        text: "Net amount"
      },
      value: {
        text: "£0.00"
      }
    }
  ]
}) }}