
{% extends "layout.html" %}

{% block pageTitle %}
  Claim summary – {{ serviceName }}
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  href: "/",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Claim for {{ data.provider_type }} {{ data.bill_type }} fees
      </h1>
  
      {% include "./partials/_cost-summary.html" %}

      {{ mojMenu({
        items: [
          {
            text: "Save and continue",
            href: "#"
          },
          {
            text: "Save as draft",
            href: "#",
            classes: "govuk-button--secondary"
          },
          {
            text: "Delete claim",
            href: "#",
            classes: "govuk-button--warning"
          }
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {%- if data.bill_type == "transfer" %}
        {% include "./partials/_transfer-details.html" %}
      {% endif -%}

      {% include "./partials/_case-details.html" %}

      {%- if data.case_type in ["trial","retrial"] %}
        {% include "./partials/_trial.html" %}
      {% endif -%}

      {%- if data.case_type == "retrial" %}
        {% include "./partials/_retrial.html" %}
      {% endif -%}

      {%- if data.case_type == "cracked-trial" %}
        {% include "./partials/_cracked-trial.html" %}
      {% endif -%}

      {%- if data.case_type == "cracked-before-retrial" %}
        {% include "./partials/_cracked-before-retrial.html" %}
      {% endif -%}

      {% include "./partials/_defendant-details.html" %}

      {%- if data.fee_type == "graduated" %}
        {% include "./partials/_offence-details.html" %}
      {% endif -%}

      {%- if data.bill_type == "final" and data.fee_type == "fixed" %}
        {% include "./partials/_fixed-fees.html" %}
      {% endif -%}

      {%- if data.bill_type == "final" and data.fee_type == "graduated" %}
        {% include "./partials/_graduated-fees.html" %}
      {% endif -%}

      {%- if data.bill_type == "interim" %}
        {% include "./partials/_interim-fees.html" %}
      {% endif -%}

      {%- if data.bill_type == "warrant" %}
        {% include "./partials/_warrant-fees.html" %}
      {% endif -%}

      {%- if data.bill_type == "transfer" %}
        {% include "./partials/_transfer-fees.html" %}
      {% endif -%}

      {% include "./partials/_miscellaneous-fees.html" %}

      {%- if data.fee_scheme == "lgfs" %}
        {% include "./partials/_disbursements.html" %}
      {% endif -%}

      {% include "./partials/_travel-expenses.html" %}

      {% include "./partials/_supporting-evidence.html" %}

    </div>
  </div>

{% endblock %}
