
{% extends "layout.html" %}

{% block pageTitle %}
  Claim summary – {{ serviceName }}
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  href: "/",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-xl">
        Claim summary
      </h1>
  
      {% include "./partials/_cost-summary.html" %}

      {{ mojMenu({
        items: [
          {
            text: "Save and continue",
            href: "#"
          },
          {
            text: "Save as draft",
            href: "#",
            classes: "govuk-button--secondary"
          },
          {
            text: "Delete claim",
            href: "#",
            classes: "govuk-button--warning"
          }
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "./partials/_transfer-details.html" %}

      {% include "./partials/_case-details.html" %}

      {% include "./partials/_trial.html" %}

      {% include "./partials/_retrial.html" %}

      {% include "./partials/_cracked-trial.html" %}

      {% include "./partials/_cracked-before-retrial.html" %}

      {% include "./partials/_defendant-details.html" %}

      {% include "./partials/_offence-details.html" %}

      {% include "./partials/_fixed-fees.html" %}

      {% include "./partials/_graduated-fees.html" %}

      {% include "./partials/_interim-fees.html" %}

      {% include "./partials/_transfer-fees.html" %}

      {% include "./partials/_miscellaneous-fees.html" %}

      {% include "./partials/_disbursements.html" %}

      {% include "./partials/_travel-expenses.html" %}

      {% include "./partials/_supporting-evidence.html" %}

      
    </div>
</div>

{% endblock %}
