
{% extends "layout.html" %}

{% block pageTitle %}
  Home – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-l">Example pages</h2>

      <h2 class="govuk-heading-m">Claim summary</h2>

      <p>Let users check their claim before submitting.</p>

      {{ govukTable({
        head: [
          {
            text: "Provider type"
          },
          {
            text: "Bill type"
          },
          {
            text: "Case type"
          },
          {
            text: "Fee type"
          },
          {
            text: "Fee scheme"
          },
          {
            text: "Fee scheme version"
          },
          {
            text: "Status"
          },
          {
            text: "Example"
          }
        ],
        rows: [
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Trial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=final&case_type=trial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Cracked trial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=final&case_type=cracked-trial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Retrial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=final&case_type=retrial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Cracked before retrial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=final&case_type=cracked-before-retrial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Appeal against conviction"
            },
            {
              text: "Fixed"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=final&case_type=appeal-against-conviction&fee_type=fixed&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Warrant"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=warrant&case_type=&fee_type=&fee_scheme=agfs&fee_scheme_version=10&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Supplementary"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "AGFS"
            },
            {
              text: ""
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=advocate&bill_type=supplementary&case_type=&fee_type=&fee_scheme=agfs&fee_scheme_version=&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Graduated"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=final&case_type=&fee_type=graduated&fee_scheme=lgfs&fee_scheme_version=9&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Graduated"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=final&case_type=&fee_type=graduated&fee_scheme=lgfs&fee_scheme_version=9&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Fixed"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=final&case_type=&fee_type=fixed&fee_scheme=lgfs&fee_scheme_version=9&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Interim"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=interim&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=9&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Transfer"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=transfer&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=9&status=draft">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Supplementary"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: ""
            },
            {
              text: "Draft"
            },
            {
              html: '<a href="./claim-summary?provider_type=litigator&bill_type=supplementary&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=&status=draft">View</a>'
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Claim details</h2>

      <p>Let users view their claim after submitting.</p>

      {{ govukTable({
        head: [
          {
            text: "Provider type"
          },
          {
            text: "Bill type"
          },
          {
            text: "Case type"
          },
          {
            text: "Fee type"
          },
          {
            text: "Fee scheme"
          },
          {
            text: "Fee scheme version"
          },
          {
            text: "Status"
          },
          {
            text: "Example"
          }
        ],
        rows: [
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Trial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=trial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Trial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Assessed"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=trial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=assessed">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Cracked trial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=cracked-trial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Retrial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=retrial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Cracked before retrial"
            },
            {
              text: "Graduated"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=cracked-before-retrial&fee_type=graduated&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Final"
            },
            {
              text: "Appeal against conviction"
            },
            {
              text: "Fixed"
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=final&case_type=appeal-against-conviction&fee_type=fixed&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Warrant"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "AGFS"
            },
            {
              text: "10"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=warrant&case_type=&fee_type=&fee_scheme=agfs&fee_scheme_version=10&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Advocate"
            },
            {
              text: "Supplementary"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "AGFS"
            },
            {
              text: ""
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=advocate&bill_type=supplementary&case_type=&fee_type=&fee_scheme=agfs&fee_scheme_version=&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Graduated"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=final&case_type=&fee_type=graduated&fee_scheme=lgfs&fee_scheme_version=9&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Graduated"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Assessed"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=final&case_type=&fee_type=graduated&fee_scheme=lgfs&fee_scheme_version=9&status=assessed">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Graduated"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=final&case_type=&fee_type=graduated&fee_scheme=lgfs&fee_scheme_version=9&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Final"
            },
            {
              text: ""
            },
            {
              text: "Fixed"
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=final&case_type=&fee_type=fixed&fee_scheme=lgfs&fee_scheme_version=9&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Interim"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=interim&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=9&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Transfer"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: "9"
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=transfer&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=9&status=submitted">View</a>'
            }
          ],
          [
            {
              text: "Litigator"
            },
            {
              text: "Supplementary"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "LGFS"
            },
            {
              text: ""
            },
            {
              text: "Submitted"
            },
            {
              html: '<a href="./claim-details?provider_type=litigator&bill_type=supplementary&case_type=&fee_type=&fee_scheme=lgfs&fee_scheme_version=&status=submitted">View</a>'
            }
          ]
        ]
      }) }}

    </div>
</div>

{% endblock %}
